# Object detection, unused code
prev

# Datasetes
datasets/cifar-10-python
datasets/NuCLS
!datasets/NuCLS/generate_dataset.py
!datasets/NuCLS/match_histograms.py
datasets/tissue_classification
!datasets/tissue_classification/generate_patches.py
!datasets/tissue_classification/fold_test.csv
!datasets/tissue_classification/region_GTcodes.csv

# trained_models
trained_models/*
dimensionality_reduction/cache/*
dimensionality_reduction/embeddings.pickle
dimensionality_reduction/labels.pickle
*.h5

# Venv
venv

# Misc
__pycache__
utils/__pycache__
.ipynb_checkpoints
*.ipynb
.idea
*.bat
!git_update.bat
meta.txt
notebooks
logs
*.png
*.txt
!requirements.txt
